
body {
  background: #2c3e50;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to bottom, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to bottom, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background-repeat: no-repeat;*/
  height: 100%;
  width: 100%;
}

#page {
  background: lightgray;
  border-radius: 5px;
  height: 100%;
  margin: 15rem auto;
  padding: 2rem;
  text-align: center;
  width: 30%;
}

#change {
  margin-top: 1rem;
}
